body {
    background-color: lightsteelblue;
    color: black;
    padding-left: 15px;
    font-family: Tahoma;
}

.formulaire {
    font-family:"trebuchet ms",sans-serif;
    font-size:90%;
}
form {
    background-color:#FAFAFA;
    padding:10px;
    width:280px;
}
fieldset {
    padding:0 20px 20px 20px;
    margin-bottom:10px;
    border:1px solid #DF3F3F;
}
legend {
    color:#DF3F3F;
    font-weight:bold
}
label {
    margin-top:10px;
    display:block;
}
label.inline {
    display:inline;
    margin-right:50px;
}
input, textarea, select, option {
    background-color:#FFF3F3;
}
input, textarea, select {
    padding:3px;
    border:1px solid #F5C5C5;
    border-radius:5px;
    width:200px;
    box-shadow:1px 1px 2px #C0C0C0 inset;
}
select {
    margin-top:10px;
}
input[type=radio] {
    background-color:transparent;
    border:none;
    width:10px;
}
input[type=submit], input[type=reset] {
    width:100px;
    margin-left:5px;
    box-shadow:1px 1px 1px #D83F3D;
    cursor:pointer;
}


h1, h2, h3, p{
    margin-top: 2em;
    margin-bottom: .5em;
}

ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: cornflowerblue;
}

.menu {
    float: right;
}

.menu a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu a:hover:not(.active) {
    background-color: darkgrey;
}

.active {
    background-color: lightsteelblue;
}

#bloc-text {
    width: 300px; /* On a indiqué une largeur (obligatoire) */
    margin: auto; /* On peut donc demander à ce que le bloc soit centré avec auto */
    border: 1px solid black;
    text-align: justify;
    padding: 12px;
    color: white;

}

#pie {
    background:cornflowerblue;
    position:absolute;
    bottom:0;
    width:100%;
    padding-top:20px;
    height:50px;
}
